@model IEnumerable<TodoApp.Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>To Do</h1>

<p>
    <a   class="btn btn-outline-dark mb-2" asp-action="Create">Create New</a>
</p>
<a type="button" class="btn btn-primary mb-2" asp-action="Index" asp-route-filter="Todo">To Do</a>
<a type="button" class="btn btn-danger mb-2" asp-action="Index" asp-route-filter="In Progress">Progress</a>
<a type="button" class="btn btn-success mb-2" asp-action="Index" asp-route-filter="Done">Done</a>
<a type="button" class="btn btn-info mb-2" asp-action="Index" asp-route-filter="All">Show All</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoStatusId)
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TodoStatusId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>